* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Red Rose", cursive;
  color:#ffc233;
}
body {margin: 0; height: 100%; overflow: hidden}
.overlay
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #03003c;
  mix-blend-mode: overlay;
}
.showcase .bg{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  object-fit: cover;
  opacity: 0.8;
  

}
.showcase
{
  position: absolute;
  right: 0;
  width: 100%;
  min-height: 100vh;
  padding-top: 50px;
  padding-right: 100px;
  padding-left: 50px;
  padding-bottom: 100px;
  justify-content: space-between;
  align-items: center;
  background: #03003c;
  transition: 0.5s;
  z-index: 2;
}
.container {
  position: relative;
  padding-left: 75px;
  padding-right: 75px;
}

.navbar-container{
  width: 100%;
  height: 100px;
}
ul.list {
  left: 450px;
  position: absolute;
  top: 10px;
  float: right;
}
li::marker {
  content: ' ';
  font-size: 1.2em;
  position: absolute;
  left: 511px;
}
.list-item{
  float: left;

  margin-left: 60px;
  
  text-underline-offset: 5px;
  font-size: 1.2em;
  font-weight: bold;

}
button.button-small {
  position: absolute;
  top: 5px;
  left: 1300px;
  width: 120px;
  height: 42px;
  background: #ff505f;
  color: white;
  border: none;
  font-size: larger;
 
}
h1.hero-heading {
  position: relative;
  text-align: center;
  margin: 0px;
  font-size: 6.24em;
  top: 80px;
  left: 50px;
}
button.button-large {
  position: absolute;
  top: 524px;
  left: 674px;
  /* width: 120px; */
  /* height: 42px; */
  background: #ff505f;
  color: white;
  border: none;
  padding: 15px;
  padding-right: 25px;
  padding-left: 25px;
  font-size: larger;
}
.bottom {
  position: absolute;
  left: 1200px;
}
.bottom {
  position: absolute;
  left: 1200px;
}
/* ------------------------------ */
/* ---------- NAVBAR ------------ */
/* ------------------------------ */

/* ------------------------------ */
/* ---------- HERO ------------ */
/* ------------------------------ */
